# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.DS_Store


# build ignores
burnett_extendedCV.log
burnett_extendedCV.out
burnett_extendedCV.utf8.md
burnett_extendedCV.knit.md
burnett_extendedCV.aux
burnett_2pg_lter2019.pdf
archived/burnett_CV_2page_20190310.pdf
publications_list.pdf
burnett_extendedCV.txt
burnett_extendedCV.html
burnett_extendedCV.md

burnett_nceas-3pg.pdf
data/coding-and-transcription-budget.xlsx
letters/usfs_20210104.html
