# Ignore products



# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.DS_Store
burnett_extendedCV.log
burnett_extendedCV.out
burnett_extendedCV.utf8.md
burnett_extendedCV.knit.md
burnett_extendedCV.aux
burnett_2pg_lter2019.pdf
archived/burnett_CV_2page_20190310.pdf
publications_list.pdf
